<!-- nav -->
<!-- <div class="container-fluid bg-danger text-white p-3">
    <div class="nav_bar">
      <ul class="navbar_ul list-unstyled m-0 d-flex justify-content-end">
        <li class="navbar_li"><a routerLink='/students-attendence' routerLinkActive="active-link" class="text-center text-white  text-decoration-none nav_link pl-2 mr-2">Student Attendences</a></li>
        <li class="navbar_li"><a routerLink='/user' routerLinkActive="active-link" class="nav_link text-center text-white text-decoration-none">User Page</a></li>
      </ul>
    </div>
  </div> -->
  <!-- nav end -->



  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">SMS</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/user' routerLinkActive="active-link"  >User Page<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav_dropdown_li">
        <a class="nav-link nav_link"  routerLinkActive="active-link">Student Attendences <i class="fas fa-chevron-down nav_student_dropdown position-relative"></i>
          <ul class="dropdown_menu position-absolute h-15 bg-light list-unstyled text-center p-2">
            <li class="nav_dropdown_link p-2" routerLink='/students-attendence' routerLinkActive="active-link">standard I</li>
            <li class="nav_dropdown_link p-2 mt-2">standard II</li>
            <li class="nav_dropdown_link p-2 mt-2">standard III</li>
            <li class="nav_dropdown_link p-2 mt-2">standard IV</li>
            <li class="nav_dropdown_link p-2 mt-2">standard V</li>
            <li class="nav_dropdown_link p-2 mt-2">standard VI</li>
            <li class="nav_dropdown_link p-2 mt-2">standard VII</li>
            <li class="nav_dropdown_link p-2 mt-2">standard VIII</li>
            <li class="nav_dropdown_link p-2 mt-2">standard IX</li>
            <li class="nav_dropdown_link p-2 mt-2">standard X</li>
            <li class="nav_dropdown_link p-2 mt-2">standard XI</li>
            <li class="nav_dropdown_link p-2 mt-2" routerLinkActive="active-link">standard XII</li>
          </ul>
        </a>
        
      </li>
        
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

