<div class="wrapper" >
    <div class="container login_div">
      <a href="" class="fb-login social-login">
        Login with Facebook
      </a>
       <a href="" class="google-login social-login">
        Login with Google
      </a>
      <p class="seperator" >-OR-</p>
      <form autocomplete="off" action="" [formGroup]="loginForm">
        <div class="group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email"  formControlName = "user_email">
        </div>
        <div class="group">
          <label for="password">Password:</label>
          <div class="d-flex">
          <input id="password" type="{{showPassword ? 'text' : 'password'}}" name="password" formControlName = "user_password" >
          <i class="fas fa-eye eye_icon" (click)= "showPassword = true" *ngIf = "!showPassword" ></i>
          <i class="fas fa-eye-slash eye_icon" (click) = "showPassword = false" *ngIf = "showPassword"></i>
        </div>
        </div>
        <a href="" class="forget-link">Forgot password?</a>
        <button (click)= "login()" [disabled]="!loginForm.valid" class="btn btn-block p-2 btn-success" type="button" disabled>
          <span [hidden] = "spinner  == true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Submit
        </button>
        <!-- <input type="submit" value="Login" id="submit" > -->
          <!-- spinner -->
        <!-- <div style="margin-top: 20%;" class="text-center spinner" [hidden] = "spinner  == true">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div> -->
      </form>
    </div>
  </div>
