<app-navbar></app-navbar>
<div class="students_reg">
    <div class="container">
        <div class="students_list mt-5">
            <h1 class="d-flex justify-content-center">Students Attendence - STD I</h1>
            <ul class="list-group w-50 mx-auto mt-5">
                <li class="list-group-item" for="inlineCheckbox1">
                    <div class="custom-control custom-checkbox d-flex align-items-center">
                        <input type="checkbox" (change)="checkAll($event)" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check All</label>
                        <input class="form-control w-50 date_picker" type="date">
                    </div>
                </li>
                <li class="list-group-item" *ngFor = "let studentName of studentsNames">
                    <div class="custom-control custom-checkbox">
                        <input (change)="checkboxChange(studentName.name)" #check1 type="checkbox" class="custom-control-input" id="{{studentName.id}}">
                        <label #checklabel class="custom-control-label" for="{{studentName.id}}">{{studentName.name}}</label>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <button class="btn btn-outline-success btn-block">Submit</button>
                </li>
              </ul>
        </div>
    </div>
</div>
