<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row shadow p-3 mb-5 mt-5 bg-white rounded display-flex mx-auto justify-content-center w-50">
    <h1 class="register_head">Add/UpdateUser</h1>
<div [formGroup]="profileForm" class="col-lg-12">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" [(ngModel)] = "Name">
    <div *ngIf = "formSubmit && profileForm.get('name').invalid && profileForm.get('name').dirty || profileForm.get('name').touched" class="text-danger">
      <div *ngIf = "profileForm.get('name').errors.minlength">* Name must contain atleast 3 characters</div>
      <div *ngIf = "profileForm.get('name').errors.required">* Name is required</div>
    </div>
    <label>Age</label>
    <input type="text" class="form-control"  formControlName="user_age" [(ngModel)] = "Age">
    <div *ngIf = "formSubmit && profileForm.get('user_age').invalid && profileForm.get('user_age').dirty || profileForm.get('user_age').touched" class="text-danger">* Age is required
    </div>
    <label>Email</label>
    <input type="text" class="form-control"  formControlName="user_email" [(ngModel)] = "Email">
    <div *ngIf = "formSubmit && profileForm.get('user_email').invalid && profileForm.get('user_email').dirty || profileForm.get('user_email').touched" class="text-danger">* Email is required
    </div>
    <label>Details</label>
    <input type="text" class="form-control"  formControlName="user_details" [(ngModel)] = "Details">
    <div *ngIf = "formSubmit && profileForm.get('user_details').invalid && profileForm.get('user_details').dirty || profileForm.get('user_details').touched" class="text-danger">* Details is required
    </div>
    <input style="display: none;" type="text" value="users.id" formControlName = id>
    <button class="btn btn-success mt-2" (click)= "onSubmit()">Add List</button>
    <button class="btn btn-info mt-2 ml-2"  (click) = "onUpdate()" >Update List</button>
</div>
  </div>

<div class="row row shadow p-3 mb-5 mt-5 bg-white rounded">
<div class="col-lg-12 user_list"  #pdfContent>
        <button class="btn btn-primary mt-2" (click)= "onPdf()">Download as PDF</button>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Details</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of users">
        <td>{{user.name}}</td>
        <td>{{user.user_age}}</td>
        <td>{{user.user_email}}</td>
        <td>{{user.user_details}}</td>
        <td class="trash"><i (click) = getData(user.id) class="far fa-edit trash" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i> <i class="fas fa-trash-alt trash ml-2" (click)="deleteUser(user.id)"></i></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>